untitled_project
dogs-vs-cats
data_cat_dog.py
cat_dog.ipynb
data_c_d
brnn.ipynb
dbrnn.ipynb
gru.ipynb
lstm.ipynb
rnn.ipynb
models
.vscode/
settings.json
cat_dog
backup
__pycache__
log
models/model_cifar10_cat_dog_vgg4_20240218-144332.h5
dataset

CGS-test-task/league_data.csv
CGS-test-task/match_data.csv
CGS-test-task/player_attributes.csv
CGS-test-task/player_data.csv
CGS-test-task/team_data.csv

